*
{
	font-family: Verdana;
	text-align: justify;
	background-image: url("Images/fond2.png");
	background-attachment: fixed; /* Le fond restera fixe */
	background-position: top center;
	
}

a:hover
{
	color: #FF2323;
	font-weight: bold;
	text-decoration: none;
	font-size: 100%
}

a:visited
{
	color: #000000;
	text-decoration: none;
}



p
{
    box-shadow: 6px 6px 10px black;
}
	

h1
{
	color: blue;
	font-size: 40px;
	font-family: Impact, serif;
	text-decoration: blink; /*Ne fonctionne pas bien */
	/*border: 3px blue groove;
	border-radius: 30px / 15xpx;*/

}

h2
{
	color: red;
	font-size: 34px;
	font-family: Impact, serif;
}

strong
{
	font-weight: bold;
}


/* Class Personnalisées */

.titre_image
{
	color: green;
}

.salutations
{
	color: red;
	font-family: Impact, serif;
	font-style: italic;
}

.italic
{
	font-style: italic;
}
